 @import url('https://fonts.googleapis.com/css?family=Pacifico');
body{
   background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    color: #FAFAFA;
    font-family: 'Pacifico', 'cursive';
    font-style: normal;
    font-weight: lighter;
    font-size: 100px;
    margin-top: 20%;
    text-align: center;
    text-shadow: rgb(33,133,33);
   
}
