@charset 'utf-8';
/* 
 *====================================
 *            CSS RESET
 *====================================
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

/* 
 *====================================
 *            Custom Styles
 *====================================
 */
body {
    background: #112738;
    color: #888;
    font: 300 16px/22px "Fira Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 
 *====================================
 *            Grid                    
 *====================================
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.container, .grid {
    margin: 0 auto;
    width: 960px;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3, .col-2-3 {
    display: inline-block;
    vertical-align: top;
}

/*
 *=========================================
 *             Clearfix
 *=========================================
 */
.group:before, .group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}
/*
 *=========================================
 *             Rows
 *=========================================
 */
.row, .row-alt {
     min-width: 960px;
 }
.row {
    background: #ffffff;
    min-width: 960px;
    padding: 66px 0 44px 0;
}
.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
}
/*
 *=========================================
 *             Typography
 *=========================================
 */

h1, h3, h4, h5, p {
    margin-bottom: 22px;
}
h1, h2, h3, h4 {
    color: #648880;
}
h1 {
    font-size: 36px;
    line-height: 44px
}
h2 {
    font-size: 26px;
    line-height: 44px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 18px;
}
strong {
    font-weight: 400;
}
cite, em {
    font-style: italic;
}

/*
 *===============================
 *          Leads
 *===============================
 */
.lead {
    text-align: center;
}
.lead p{
    font-size: 21px;
    line-height: 33px;
}
/*
 *===============================
 *          Links
 *===============================
 */
a:hover {
    color: #a9b2b9;
}
a {
    color: #648880;
    text-decoration: none;
}
.teaser a:hover h3 {
    color: #a9b2b9;
}
p a {
    border-bottom: 3px solid #aed8b5;
}
.primary-header a, .primary-footer a {
    color: #fff;
}
.primary-header a:hover, .primary-footer a:hover {
    color: #648880;
}
/*
 *=========================================
 *             Button
 *=========================================
 */

.btn {
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px;
}
.btn-alt:hover {
    background: #ffffff;
    color: #648880;
}

.btn-default {
    background: #648880;
    font: 400 15px/15px "Fira Sans";
    padding: 4% 8%;
    height: 3.5em;
    border: none;
    text-align: center;
}
.btn-default:hover {
    background: #4B736A;
}
/*
 *=========================================
 *             Home
 *=========================================
 */

.hero {
    color: #ffffff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}
.hero h2 {
    font-size: 36px;
}
.hero p {
    font-size: 24px;
}
.teaser {
    box-shadow: 2px 2px 20px rgba(64,88, 80,.9);
    border-radius: 6px;
    height: 26rem;
    vertical-align: top;
    margin-left: 3%;
    width: 30%;
}
.teaser img {
    display: block;
    max-width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-bottom: 8%;
    margin-top: -46%;
    height:60%;
}
.teaser h3, .teaser p {
    text-align: center;
    padding:0 4%;
}
.teaser h5 {
    color: #293f50;
    font-size: 30px;
    font-style: oblique;
    font-weight: 300;
    text-align: left;
    margin-top: -10%;
    padding-bottom: 40%;
    text-transform: uppercase;
}
/*
 *=========================================
 *             Header
 *=========================================
 */
.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}
.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}
/*
 *=========================================
 *             Navigation
 *=========================================
 */
.nav {
    text-align: right;
}
.nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    font-weight: 400;
}
.nav li:last-child {
    margin-right: 0px;
}

/*
 *=========================================
 *             Primary Logo
 *=========================================
 */

.logo {
    border-top: 8px solid #648880;
    float: left;
    font-size: 48px;
    line-height: 44px;
    letter-spacing: .5px;
    padding: 40px 0 22px 0;
    font-weight: 300;
    text-shadow: 2px 4px 1px rgba(0, 0, 0,.5);
    text-transform: uppercase;
}

/*
 *=========================================
 *             Primary Footer
 *=========================================
 */

.primary-footer {
    color: #648880;
    font-size: 14px;
    padding: 44px 0 44px 0;
}
.primary-footer small {
    float: left;
    font-weight: 400;
}

footer #github {
    font-size: 25px;
}
footer #heart {
    color:#F73A3A;
    font-size:30px;
}

/*
 *=========================================
 *             Speakers List
 *=========================================
 */

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    margin-left: 10%;
    padding-bottom: 22px;
    text-align: center;
}
.speaker-info img{
    display: inline-block;
    height: 130px;
    border-radius: 50%;
    vertical-align: top;
    margin-top: -70px;
    margin-bottom: 20px;
}
.speaker {
    margin-bottom: 44px;
}
/*
 *=========================================
 *             Venue
 *=========================================
 */
.venue-theatre, .venue-hotel, .venue-map {
    height: 50vh;
}
.venue-theatre{
    margin-bottom: 66px;
}
.venue-hotel {
    margin-bottom: 22px;
}
.venue-map {
    float: right;
    box-shadow: 1px 1px 20px black;
    border-radius: 5px;
}
/*
 *=========================================
 *             Register
 *=========================================
 */
.features {
    list-style-type: square;
    padding-left: 30px;
}
.form-description {
    text-align: justify;
    padding-right: 6%;
}
.register-form label {
    display: block;
    color: #648880;
    margin-bottom: 10px;
    font-weight: 400;
    margin-top: -5%;
    padding-top:40px;
}
.register-form textarea {
    height: 120px;
}
.register-form select {
    border-radius: 3px;
    color: #888;
    font-weight: bold;
    font-size: 16px;
    width: 60px;
    height: 39px;
    padding-left: 4%;
}
.register-form textarea, .input-box {
    border: 1px solid lightgray;
    display: block;
    font: 400 normal 15px/12px "Fira Sans";
    width: 90%;
    border-radius: 5px;
    padding: 3%;
    margin-top: 10px;
}
.input-box {
    height: 3em;
}

/*
 *=========================================
 *             Schedule
 *=========================================
 */
table {
    margin-bottom: 44px;
    width: 100%;
}
table a {
    color: #888;
}
table h4 {
    margin-bottom: 0;
}
table:last-child {
    margin-bottom: 0;
}
th, td {
    padding-bottom: 22px;
    vertical-align: top;
}
th{
    padding-right: 45px;
    text-align: right;
    width: 20%;
}
td {
    width: 40%;
}
thead {
    line-height: 44px;
}
thead th, thead td{
    color: #648880;
    font-size: 25px;
}
tbody th {
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400;
    padding-top: 22px;
    text-transform: uppercase;
}
tbody td {
    border-top: 1px solid #dfe2e5;
    padding-top: 22px;
}

tbody td:first-of-type {
    padding-right: 15px;
}
tbody td:last-of-type {
    padding-left: 15px;
}
tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
}
.schedule-offset {
    color: #a9b2b9;
}

