@charset 'utf-8';
/* 
 *====================================
 *            CSS RESET
 *====================================
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
   display: block;
 }
 body {
   line-height: 1;
 }
 ol, ul {
   list-style: none;
 }
 blockquote, q {
   quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
   content: '';
   content: none;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }

/* 
 *====================================
 *            Custom Styles
 *====================================
 */

 html {
     font-size: 62.5%;
 }

body {
    background: #112738;
    color: #888;
    font: 300 1.66rem/2.2rem "Fira Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 920px){
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 600px){
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 400px){
    html {
        font-size: 35%;
    }
}
/* 
 *====================================
 *            Grid                    
 *====================================
 */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
.container, .grid {
    margin: 0 auto;
    width: 96rem;
}

.container {
    padding-left: 3rem;
    padding-right: 3rem;
}
.col-1-3 {
    width: 33.33%;
}
.col-2-3 {
    width: 66.66%;
}
.col-1-3, .col-2-3 {
    display: inline-block;
    vertical-align: top;
}

/*
 *=========================================
 *             Clearfix
 *=========================================
 */
.group:before, .group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}
/*
 *=========================================
 *             Rows
 *=========================================
 */
.row, .row-alt {
     min-width: 96rem;
 }
.row {
    background: #ffffff;
    min-width: 96rem;
    padding: 6.6rem 0 4.4rem 0;
}
.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 4.4rem 0 2.2rem 0;
}
/*
 *=========================================
 *             Typography
 *=========================================
 */

h1, h3, h4, h5, p {
    margin-bottom: 2.2rem;
}
h1, h2, h3, h4 {
    color: #648880;
}
h1 {
    font-size: 3.6rem;
    line-height: 4.4rem;
}
h2 {
    font-size: 2.6rem;
    line-height: 4.4rem;
}
h3 {
    font-size: 2.1rem;
}
h4 {
    font-size: 1.8rem;
}
strong {
    font-weight: 400;
}
cite, em {
    font-style: italic;
}

/*
 *===============================
 *          Leads
 *===============================
 */
.lead {
    text-align: center;
}
.lead p{
    font-size: 2.1rem;
    line-height: 3.3rem;
}
/*
 *===============================
 *          Links
 *===============================
 */
a:hover {
    color: #a9b2b9;
}
a {
    color: #648880;
    text-decoration: none;
}
.teaser a:hover h3 {
    color: #a9b2b9;
}
p a {
    border-bottom: .3rem solid #aed8b5;
}
.primary-header a, .primary-footer a {
    color: #fff;
}
.primary-header a:hover, .primary-footer a:hover {
    color: #648880;
}
/*
 *=========================================
 *             Button
 *=========================================
 */

.btn {
    border-radius: .5rem;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.05rem;
    margin: 0;
    text-transform: uppercase;
}

.btn-alt {
    border: .1rem solid #dfe2e5;
    padding: 1rem 3rem;
}
.btn-alt:hover {
    background: #ffffff;
    color: #648880;
}

.btn-default {
    background: #648880;
    font: 400 1.5rem/1.5rem "Fira Sans";
    padding: 4% 8%;
    height: 3.5em;
    border: none;
    text-align: center;
}
.btn-default:hover {
    background: #4B736A;
}
/*
 *=========================================
 *             Home
 *=========================================
 */

.hero {
    color: #ffffff;
    line-height: 4.4rem;
    padding: 2.2rem 8rem 6.6rem 8rem;
    text-align: center;
}
.hero h2 {
    font-size: 3.6rem;
}
.hero p {
    font-size: 2.4rem;
}
.teaser {
    box-shadow: .2rem .2rem 2rem rgba(64,88, 80,.9);
    border-radius: .6rem;
    vertical-align: text-top;
    margin-left: 3%;
    width: 30%;
}
.teaser img {
    display: block;
    max-width: 100%;
    border-top-right-radius: .3rem;
    border-top-left-radius: .3rem;
    margin-bottom: 8%;
    margin-top: -46%;
    height: 25rem;
}
.teaser h3, .teaser p {
    text-align: center;
    padding:0 4%;
}
.teaser h5 {
    color: #293f50;
    font-size: 3rem;
    font-style: oblique;
    font-weight: 300;
    text-align: left;
    margin-top: -10%;
    padding-bottom: 40%;
    text-transform: uppercase;
}
/*
 *=========================================
 *             Header
 *=========================================
 */
.tagline {
    margin: 6.6rem 0 2.2rem 0;
    text-align: right;
}
.primary-nav {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}
/*
 *=========================================
 *             Navigation
 *=========================================
 */
.nav {
    text-align: right;
}
.nav li {
    display: inline-block;
    vertical-align: top;
    margin: 0 1rem;
    font-weight: 400;
}
.nav li:last-child {
    margin-right: 0px;
}

/*
 *=========================================
 *             Primary Logo
 *=========================================
 */

.logo {
    border-top: .8rem solid #648880;
    float: left;
    font-size: 4.8rem;
    line-height: 4.4rem;
    letter-spacing: .05rem;
    padding: 4rem 0 2.2rem 0;
    font-weight: 300;
    text-shadow: .2rem .4rem .1rem rgba(0, 0, 0,.5);
    text-transform: uppercase;
}

/*
 *=========================================
 *             Primary Footer
 *=========================================
 */

.primary-footer {
    color: #648880;
    font-size: 1.4rem;
    padding: 4.4rem 0 4.4rem 0;
}
.primary-footer small {
    float: left;
    font-weight: 400;
}

footer #github {
    font-size: 2.5rem;
}
footer #heart {
    color:#F73A3A;
    font-size:3rem;
}

/*
 *=========================================
 *             Speakers List
 *=========================================
 */

.speaker-info {
    border: .1rem solid #dfe2e5;
    border-radius: .5rem;
    margin-top: 8.8rem;
    margin-left: 10%;
    padding-bottom: 2.2rem;
    text-align: center;
}
.speaker-info img{
    display: inline-block;
    height: 13rem;
    border-radius: 50%;
    vertical-align: top;
    margin-top: -7rem;
    margin-bottom: 2rem;
}
.speaker {
    margin-bottom: 4.4rem;
}
/*
 *=========================================
 *             Venue
 *=========================================
 */
.venue-theatre, .venue-hotel, .venue-map {
    height: 50vh;
}
.venue-theatre{
    margin-bottom: 6.6rem;
}
.venue-hotel {
    margin-bottom: 2.2rem;
}
.venue-map {
    float: right;
    box-shadow: .1rem .1rem 2rem black;
    border-radius: .5rem;
}
/*
 *=========================================
 *             Register
 *=========================================
 */
.features {
    list-style-type: square;
    padding-left: 3rem;
}
.form-description {
    text-align: justify;
    padding-right: 6%;
}
.register-form label {
    display: block;
    color: #648880;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: -5%;
    padding-top:4rem;
}
.register-form textarea {
    height: 12rem;
}
.register-form select {
    border-radius: .3rem;
    color: #888;
    font-weight: bold;
    font-size: 1.6rem;
    width: 6rem;
    height: 3.9rem;
    padding-left: 4%;
}
.register-form textarea, .input-box {
    border: .1rem solid lightgray;
    display: block;
    font: 400 normal 1.5rem/1.2rem "Fira Sans";
    width: 90%;
    border-radius: .5rem;
    padding: 3%;
    margin-top: 1rem;
}
.input-box {
    height: 4rem;
}

/*
 *=========================================
 *             Schedule
 *=========================================
 */
table {
    margin-bottom: 4.4rem;
    width: 100%;
}
table a {
    color: #888;
}
table h4 {
    margin-bottom: 0;
}
table:last-child {
    margin-bottom: 0;
}
th, td {
    padding-bottom: 2.2rem;
    vertical-align: top;
}
th{
    padding-right: 4.5rem;
    text-align: right;
    width: 20%;
}
td {
    width: 40%;
}
thead {
    line-height: 4.4rem;
}
thead th, thead td{
    color: #648880;
    font-size: 2.5rem;
}
tbody th {
    color: #a9b2b9;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 2.2rem;
    text-transform: uppercase;
}
tbody td {
    border-top: .1rem solid #dfe2e5;
    padding-top: 2.2rem;
}

tbody td:first-of-type {
    padding-right: 1.5rem;
}
tbody td:last-of-type {
    padding-left: 1.5rem;
}
tbody td:only-of-type {
    padding-left: 0;
    padding-right: 0;
}
.schedule-offset {
    color: #a9b2b9;
}

