.composition {

    position: relative;
    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1rem;
        
        &--p1 {
            left: 0;
            top: -2rem;
        }
    
        &--p2 {
            right: -1rem;
            top: 1rem;
        }
    
        &--p3 {
            top: 15rem;
            left: 10%;
        }

        &:hover {
            transform: scale(1.1) translateY(-.5rem);
            box-shadow: 0 2rem 6rem rgba($color-black, .7);
            z-index: 20;
            outline: 1.3rem solid $color-primary;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}