*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%; // This sets the rem to 16px (browser default)

    @include respond(big-desktop) {
        font-size: 80%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
    color: $color-dark-grey;
}
