/* 
0 - 600px: Phone
600 - 900: Tablet portrait
900 - 1200 : Tablet landscape
[1200 - 1800]: is where our styles apply
1800px+: Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout > grid > page layout > components

*******************************
em and rem in media queries are not affected by what is set in root font size.
Here 1em or 1rem always represents the default font size of the browser.

1em = 16px so we use ems
*/
@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(-30rem); }
  50% {
    transform: rotate(180deg);
    opacity: .5; }
  100% {
    transform: rotate(0deg);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 112.5em) {
    html {
      font-size: 80%; } }
  @media screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  color: #777; }

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  overflow-x: auto; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  text-shadow: 3px 3px 20px #777;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: inline-block;
    font-size: 5rem;
    letter-spacing: 4rem;
    font-weight: 600;
    margin-left: 3rem;
    text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    animation: moveInRight 3s ease-out; }
    @media screen and (min-width: 112.5em) {
      .heading-primary--main {
        font-size: 8rem; } }
    @media screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
    @media screen and (max-width: 23em) {
      .heading-primary--main {
        font-size: 3rem;
        letter-spacing: 2rem;
        font-weight: 900; } }
  .heading-primary--byline {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    margin-left: 1.5rem;
    animation: moveInLeft 3s ease-out; }
    @media screen and (min-width: 112.5em) {
      .heading-primary--byline {
        font-size: 6.5rem; } }
    @media screen and (max-width: 37.5em) {
      .heading-primary--byline {
        font-size: 1.8rem;
        letter-spacing: .8rem; } }
    @media screen and (max-width: 23em) {
      .heading-primary--byline {
        font-size: 1.5rem;
        font-weight: 900;
        letter-spacing: .4rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all .2s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem;
      width: 100%; } }
  @media screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  @media screen and (max-width: 23em) {
    .heading-secondary {
      font-size: 2rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media screen and (max-width: 56.25em) {
    .heading-tertiary {
      font-size: 1.7rem; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media screen and (max-width: 37.5em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media screen and (max-width: 37.5em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-small {
  margin-top: 4rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border: none;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  box-shadow: 0 0.5px 1rem rgba(0, 0, 0, 0.3);
  transform: translateY(-0.2rem); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out;
  animation-delay: 3s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  font-size: 1.6rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    backface-visibility: hidden;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotate(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  @media screen and (max-width: 56.25em) {
    .card {
      height: auto;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.2); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 0 1rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        width: 100%;
        transform: translate(0);
        text-align: center;
        padding: 4rem 4rem 3rem 4rem;
        border-top-right-radius: 0px; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-only {
        font-weight: bold; }
      .card__price-value {
        font-size: 4rem;
        font-weight: 600; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    @media screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
        margin-bottom: -4rem; } }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 1rem;
          left: 0;
          transform: scale(1.1);
          z-index: 11; } }
    .composition__photo--p2 {
      right: -1rem;
      top: 1rem; }
      @media screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          left: 0;
          transform: scale(1.3);
          z-index: 15; } }
    .composition__photo--p3 {
      top: 15rem;
      left: 10%; }
      @media screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: 0;
          transform: scale(1.1);
          z-index: 11; } }
    .composition__photo:hover {
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.7);
      z-index: 20;
      outline: 1.3rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.79);
  font-size: 1.5rem;
  padding: 3rem 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
  transition: all .3s; }
  @media screen and (max-width: 56.25em) {
    .feature-box {
      padding: 2rem 1.5rem; } }
  @media screen and (max-width: 37.5em) {
    .feature-box {
      padding: 1.5rem 1.5rem; } }
  .feature-box__icon {
    font-size: 6rem;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: .5rem;
    padding: .7rem; }
    @media screen and (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .feature-box:not(:last-child) {
    margin-right: 6rem; }

.form {
  font-family: inherit;
  font-size: inherit; }
  @media screen and (max-width: 56.25em) {
    .form {
      width: 100%; } }
  .form__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    color: inherit;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    width: 75%;
    border-bottom: 4px solid transparent; }
    @media screen and (max-width: 56.25em) {
      .form__input {
        width: 100%;
        padding: 1.5rem 1.5rem; } }
    .form__input:focus {
      outline: none;
      color: #777;
      font-weight: 300; }
    .form__input:focus:invalid {
      border-bottom: 4px solid #ff7730; }
    .form__input:focus:valid {
      border-bottom: 4px solid #55c57a; }
    .form__input::-webkit-input-placeholder {
      font-family: inherit; }
  .form__input:focus + .form__label {
    opacity: 1;
    transform: translateY(0rem); }
  .form__input:focus::-webkit-input-placeholder {
    transform: translateY(3rem); }
  .form__label {
    display: block;
    margin: .7rem 0 3rem 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-2.5rem);
    transition: all .4s; }
  .form__radio-group {
    position: relative;
    display: inline-block;
    margin-right: 4rem; }
    @media screen and (max-width: 37.5em) {
      .form__radio-group {
        display: block; }
        .form__radio-group:not(:last-child) {
          margin-bottom: 2rem; } }
  .form__radio-input {
    visibility: hidden; }
  .form__radio-input:checked ~ .form__radio-button::after {
    visibility: visible; }
  .form__radio-label {
    font-size: 1.6rem;
    padding-left: 2rem;
    cursor: pointer; }
  .form__radio-button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 5px solid #55c57a;
    display: inline-block;
    position: absolute;
    top: -.2rem;
    left: 0; }
    .form__radio-button::after {
      content: "";
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background: #55c57a;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden; }

.popup {
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: all .5s; }
  @media screen and (max-width: 37.5em) {
    .popup {
      overflow: scroll; } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: table;
    width: 75%;
    border-radius: 3px;
    box-shadow: 0 2rem 5rem #000;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s;
    z-index: 1000; }
    @media screen and (max-width: 56.25em) {
      .popup__content {
        width: 90%;
        overflow: scroll; } }
    @media screen and (max-width: 37.5em) {
      .popup__content {
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        overflow: scroll; } }
  .popup__left {
    width: 33.3333333%;
    display: table-cell;
    height: 100%;
    padding: -2% 0;
    padding-bottom: -25%; }
    @media screen and (max-width: 37.5em) {
      .popup__left {
        display: none; } }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
    @media screen and (max-width: 56.25em) {
      .popup__right {
        width: 100%;
        padding: 1rem 3rem; } }
    @media screen and (max-width: 37.5em) {
      .popup__right {
        width: 100%;
        padding: 1rem 3rem; } }
  .popup__img {
    display: block;
    width: 100%; }
    @media screen and (max-width: 37.5em) {
      .popup__img {
        display: none; } }
  .popup__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
    -webkit-hyphens: auto; }
    @media screen and (max-width: 37.5em) {
      .popup__text {
        column-count: 1; } }
    @media screen and (max-width: 23em) {
      .popup__text {
        font-size: 1.3rem; } }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close {
    display: inline-block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-weight: 900;
    font-size: 3rem;
    text-decoration: none;
    color: #777; }
    @media screen and (max-width: 37.5em) {
      .popup__close {
        font-size: 2rem; } }
    .popup__close:hover {
      color: #55c57a; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skew(-12deg); }
  @media screen and (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 5rem;
      padding-left: 7rem;
      transform: skew(0); } }
  @media screen and (max-width: 37.5em) {
    .story {
      transform: skew(0); } }
  .story > * {
    transform: skew(12deg); }
    @media screen and (max-width: 56.25em) {
      .story > * {
        transform: skew(0); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    border-radius: 50%;
    shape-outside: circle(50% at 50% 50%);
    position: relative;
    margin-right: 4 rem;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skew(12deg); }
    @media screen and (max-width: 56.25em) {
      .story__shape {
        transform: translateX(-3rem) skew(0);
        margin-right: 0; } }
    @media screen and (max-width: 23em) {
      .story__shape {
        width: 12rem;
        height: 12rem; } }
  .story__img {
    height: 100%;
    backface-visibility: hidden;
    transform: translateX(-4rem) scale(1.4);
    transition: all .4s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .8s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media screen and (max-width: 37.5em) {
    .row {
      max-width: 40rem; } }
  @media screen and (max-width: 23em) {
    .row {
      max-width: 35rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    clear: both;
    display: table; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(( (100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(( (100% - 3 * 6rem) / 4) * 3 + 2 * 6rem); }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
  position: relative; }
  @media screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 90vh, 0% 100%); } }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.footer {
  background-color: #333;
  padding: 10rem 0; }
  @media screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  @media screen and (max-width: 37.5em) {
    .footer {
      padding: 6rem 0; } }
  @media screen and (max-width: 23em) {
    .footer {
      padding: 4rem 0; } }
  .footer__logo-box {
    text-align: center;
    display: block; }
    @media screen and (max-width: 37.5em) {
      .footer__logo-box {
        margin-bottom: 3rem !important; } }
  .footer__nav {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
    @media screen and (max-width: 56.25em) {
      .footer__nav {
        display: block;
        width: 100%;
        text-align: center; } }
    .footer__nav-item {
      display: inline-block;
      list-style: none; }
      .footer__nav-item:not(:last-child) {
        margin-right: 2rem; }
  .footer__link, .footer__link:link {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: all .3s; }
  .footer__link:hover {
    color: #55c57a;
    transform: rotate(5deg) scale(1.2);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5); }
  .footer__legal {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }

.navigation {
  transition: all .3s; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    top: 6rem;
    right: 6rem;
    position: fixed;
    z-index: 200;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer; }
    @media screen and (max-width: 56.25em) {
      .navigation__button {
        top: 4rem;
        right: 4rem; } }
    @media screen and (max-width: 37.5em) {
      .navigation__button {
        width: 5rem;
        height: 5rem;
        top: 3rem;
        right: 3rem; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 100;
    transition: transform 0.8s cubic-bezier(0.02, 0.19, 0.04, 0.87); }
    @media screen and (max-width: 56.25em) {
      .navigation__background {
        top: 4.5rem;
        right: 4.5rem; } }
    @media screen and (max-width: 37.5em) {
      .navigation__background {
        width: 4rem;
        height: 4rem;
        top: 3.5rem;
        right: 3.5rem; } }
  .navigation__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link span {
    margin-right: 1.2rem;
    display: inline-block; }
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
    background-size: 220%;
    transition: all .5s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    color: #55c57a;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    visibility: visible; }
  .navigation__checkbox ~ .navigation__background {
    transform: scale(1); }
  .navigation__checkbox ~ .navigation__nav {
    opacity: 0;
    width: 0;
    visibility: hidden; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem; }
    @media screen and (max-width: 37.5em) {
      .navigation__icon {
        margin-top: 2.5rem; } }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #333;
      display: inline-block; }
      @media screen and (max-width: 37.5em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon::after {
          width: 2.5rem; } }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
    .navigation__icon::before {
      top: -.8rem; }
      @media screen and (max-width: 37.5em) {
        .navigation__icon::before {
          top: -.7rem; } }
    .navigation__icon::after {
      bottom: -.8rem; }
      @media screen and (max-width: 37.5em) {
        .navigation__icon::after {
          bottom: -.7rem; } }
  .navigation__button:hover .navigation__icon:before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon:after {
    bottom: -1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:before {
    transform: rotate(135deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon:after {
    transform: rotate(-135deg);
    bottom: 0; }

.banner {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 9999;
  color: #55c57a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase; }
  .banner__clocks {
    color: #ff7730; }

.section-about {
  background-color: #eee;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media screen and (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.7), rgba(40, 180, 133, 0.7)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  @media screen and (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #eee;
  padding: 28rem 0 15rem 0;
  margin-top: -10rem; }
  @media screen and (max-width: 56.25em) {
    .section-tours {
      padding: 23rem 0 10rem 0; } }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  @media screen and (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  @media screen and (max-width: 56.25em) {
    .section-book {
      padding: 10rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 70%, transparent 50%), url(../img/nat-10.jpg); } }
  @media screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.83) 0%, rgba(255, 255, 255, 0.83) 100%), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 4rem; }
    @media screen and (max-width: 56.25em) {
      .book__form {
        width: 100%;
        padding: 4rem; } }

/*# sourceMappingURL=main.css.map */